.scenario {
	@extend .card;
	height: auto;

	background-color: #ddd;

	&__selected {
		color: white;
		background-color: #00d;
	}

	&--controls {
		float: right;
		display: inline-block;
	}

	&--roles-group {
		color: white;
		&__Villagers {
			background-color: $villager-color;
		}

		&__Werewolves {
			background-color: $werewolf-color;
		}
	}
}